<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Dating App</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Matches </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Lists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"
        >Message</a
      >
    </li>
  </ul>
  <form #loginform ="ngForm" class="form-inline my-2 my-lg-0" (submit)="login()">
    <input name ="username"  required [(ngModel)]=model.Username 
      class="form-control mr-sm-2"
      type="text"
      placeholder="Username"
      aria-label="Username"
    />
    <input name="Password" required [(ngModel)]= model.Password
      class="form-control mr-sm-2"
      type="text"
      placeholder="Password"
      aria-label="Password"
    />
    <button class="btn btn-success my-2 my-sm-0" type="submit">
      Login
    </button>
  </form>
</nav>

<!-- <pre>
   form valid : {{loginform.valid}}
  form touched : {{loginform.touched}}
 form Dirty : {{loginform.dirty}}
  Form Values : {{loginform.value|json}}  
</pre> -->
