<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']">Dating App</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active" >
      <a class="nav-link" [routerLink]="['/member']"  >Matches </a>
    </li>
    <li class="nav-item" routerLinkActive="active" >
      <a class="nav-link" [routerLink]="['/lists']" >Lists</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/messages']"  >Messages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">Logout</a>
    </li>
  </ul>

  <div *ngIf= "loggedIn()" class="dropdown">
    <a class="dropdown-toggle text text-light">
      Welcome User
    </a>

    <div class="dropdown-menu">
      <a class="dropdown-item" href="#"
        ><i class="fa fa-user"></i>Edit Profile</a
      >
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i>Logout</a>
    </div>
  </div>

  <form
    *ngIf = "!loggedIn()"
    #loginform="ngForm"
    class="form-inline my-2 my-lg-0"
    (submit)="login()"
  >
    <input
      name="username"
      required
      [(ngModel)]="model.Username"
      class="form-control mr-sm-2"
      type="text"
      placeholder="Username"
      aria-label="Username"
    />
    <input
      name="Password"
      required
      [(ngModel)]="model.Password"
      class="form-control mr-sm-2"
      type="text"
      placeholder="Password"
      aria-label="Password"
    />
    <button class="btn btn-success my-2 my-sm-0" type="submit">
      Login
    </button>
  </form>
</nav>

<!-- <pre>
   form valid : {{loginform.valid}}
  form touched : {{loginform.touched}}
 form Dirty : {{loginform.dirty}}
  Form Values : {{loginform.value|json}}  
</pre> -->
